<template>
  <div class="hello">
    <div class="banner"></div>
    <div class="container">
      <h2 class="major-text">uNick's portfolio</h2>
      <p class="content-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quae, est officia eligendi autem dolorem dolor? Accusamus delectus, neque suscipit! Odit mollitia porro, eaque repudiandae vitae illo ipsam hic suscipit provident, totam fuga fugiat pariatur, minima error? Incidunt, explicabo, fugit.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
