<template>
	<div class="container">
		<h2>Link style</h2>
		
		<!--<section class="effect-1">
			<ul>
				<li class="og-bg">
					<a href="#">
						<span data-hover="Slide in Bot">Slide in Bot</span>
					</a>
				</li>
				<li class="rv-bg">
					<a href="#">
						<span data-hover="Slide in Bot">Slide in Bot</span>
					</a>
				</li>
			</ul>
		</section>
		<section class="effect-2">
			<ul>
				<li class="top-bot">
					<a href="#">Border light</a>
				</li>
				<li class="left-right">
					<a href="#">Border light</a>
				</li>
			</ul>
		</section>
		<section class="effect-3">
			<ul>
				<li class="trans">
					<a href="#" data-hover="Slide in Left">
						<span>Slide in Left</span>
					</a>
				</li>
				<li class="bg">
					<a href="#" data-hover="Slide in Left">Slide in Left</a>
				</li>
			</ul>
		</section>
		<section class="effect-4">
			<ul>
				<li class="up-down">
					<a href="#">
						<span>
							<span class="first-word" data-hover="Roll">Roll </span>
							<span class="last-word" data-hover="Snippet">Snippet</span>
						</span>
					</a>
				</li>
				<li class="left-right">
					<a href="#">
						<span>
							<span class="first-word" data-hover="Two words">Two words </span>
							<span class="last-word" data-hover="Only">Only</span>
						</span>
					</a>
				</li>
			</ul>
		</section>
		<section class="effect-5">
			<ul>
				<li class="lb-rt">
					<a href="#">Border Corner</a>
				</li>
				<li class="lt-rb">
					<a href="#">Border Corner</a>
				</li>
			</ul>
		</section>-->
		<!--<section class="effect-6">
			<ul>
				<li class="once">
					<a href="#">
						<span>Pop up</span>
					</a>
				</li>
				<li class="sep">
					<a href="#">
						<span>P</span>
						<span>o</span>
						<span>p</span>
						<span>u</span>
						<span>p</span>
					</a>
				</li>
			</ul>
		</section>-->
		<!--<section class="effect-7">
			<ul>
				<li class="first-letter">
					<a href="#">
						<span class="rolling" data-hover="R">R</span>
						<span class="rest">olling Head</span>
					</a>
				</li>
				<li class="first-word">
					<a href="#">
						<span class="rolling" data-hover="Rolling">Rolling</span>
						<span class="rest">Head</span>
					</a>
				</li>
			</ul>
		</section>
		<section class="effect-8">
			<ul>
				<li class="counter-clock-wise">
					<a href="#">Rotate box</a>
				</li>
				<li class="clock-wise">
					<a href="#">Rotate box</a>
				</li>
			</ul>
		</section>
		<section class="effect-9">
			<ul>
				<li class="width-height">
					<a href="#">Seperate in-out</a>
				</li>
				<li class="center-border">
					<a href="#">Seperate in-out</a>
				</li>
			</ul>
		</section>-->

		
		<iframe height='900' scrolling='no' title='link effects' src='//codepen.io/uNickHow/embed/XgBKBW/?height=662&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen
			<a href='https://codepen.io/uNickHow/pen/XgBKBW/'>link effects</a> by Nick Lin (
			<a href='https://codepen.io/uNickHow'>@uNickHow</a>) on
			<a href='https://codepen.io'>CodePen</a>.
		</iframe>

	</div>
</template>
