<template>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">
			<img src="http://iconutopia.com/wp-content/uploads/2016/06/space-dog-laika1.png" alt="">
		</a>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<router-link class="nav-link" :to="{ path: '/link-style'}">Link style</router-link>
				</li>
				
				<li class="nav-item">
					<router-link class="nav-link" :to="{ path: '/collect'}">Collects</router-link>
				</li>

				<li class="nav-item">
					<router-link class="nav-link" :to="{ path: '#'}">none</router-link>
				</li>
	
				<li class="nav-item">
					<router-link class="nav-link" :to="{ path: '#'}">none</router-link>
				</li>


			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</template>
