@import "~bootstrap/scss/bootstrap";
@import "link-style";
@import "hello";
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

*{
	box-sizing: border-box;
	font-size: 1em;
	font-family: 'Pathway Gothic One', sans-serif;
	// border: solid 1px;
}

/*
  utilities setting
*/

$color_bg: rgba(#333, .4);
$color_major_text: #F19F0F;

.major-text{
  color: $color_major_text;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0,0,0, .3);
}

.content-text{
  color: white;
  font-size: 1.5em;
  text-align: left;
}

html, body{
	margin: 0;
	padding: 0;
  height: 100%;
  width: 100%;
	background-color: $color_bg;
}

section{
  width: 100%;
  padding: 20px 0;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 500px;
  padding: 0;
  margin: 0 auto;
}
  
a{
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.35em;
  height: 2em;
  line-height: 2em;
}

a:hover, a:focus{
	text-decoration: none;
  color: inherit;
  outline: none;
}

/*
  navbar setting
*/


.navbar{
  box-shadow: 2px 0 2px rgba(0,0,0,.2);
  a.navbar-brand{
    padding: 0;
    margin: 15px 0;
    height: 4em;
    width: auto;
    img{
      height: 100%;
      width: auto;
    }
  }
  .navbar-nav{
    margin: 0;
    .nav-item{
      a{
        padding: 0;
        margin: 5px 10px;
      }
      .router-link-exact-active{
        font-weight: bold;
        color: #333;
      }
    }
  }
}



