.banner{
	width: auto;
	padding: 10% 0;
	height: 100%;
	background-image: url(http://static.tumblr.com/a5d30b2429a204bdad2b0e1e5b1be299/yayyx3i/lDsmso2j7/tumblr_static_awesomebanner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}